<div>
  <h2 id="page-heading" data-cy="CircleHeading">
    <span jhiTranslate="appDemoApp.circle.home.title">Circles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="appDemoApp.circle.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-circle"
        [routerLink]="['/circle/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="appDemoApp.circle.home.createLabel">Create a new Circle</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (circles().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="appDemoApp.circle.home.notFound">No Circles found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="appDemoApp.circle.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="members">
              <div class="d-flex">
                <span jhiTranslate="appDemoApp.circle.members">Members</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="impact">
              <div class="d-flex">
                <span jhiTranslate="appDemoApp.circle.impact">Impact</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="focus">
              <div class="d-flex">
                <span jhiTranslate="appDemoApp.circle.focus">Focus</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (circle of circles(); track trackId(circle)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/circle', circle.id, 'view']">{{ circle.id }}</a>
              </td>
              <td>{{ circle.name }}</td>
              <td>{{ circle.members }}</td>
              <td>{{ circle.impact }}</td>
              <td>{{ circle.focus }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/circle', circle.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/circle', circle.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(circle)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
